<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Security PIN Test </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Security PIN Test</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid fixed>
    <form
      #myForm="ngForm"
      (ngSubmit)="onSubmit(myForm)"
      [noValidate]="true"
      class="my-form"
    >
      <ion-row>
        <ion-col size="12">
          <section class="grp-pin--inputs" #grpInputs_one>
            <ion-input
              *ngFor="let item of [1, 2, 3, 4, 5, 6]"
              ngModel
              required
              [name]="'input' + item"
              [id]="'input' + item"
              placeholder="_"
              maxlength="1"
              mode="ios"
              type="text"
              inputmode="numeric"
              (paste)="onPaste()"
              (keyup)="onKeyup('input' + (item + 1), 'input' + (item - 1), $event)"
              ></ion-input>
              <!-- (paste)="onPaste()" -->
              <!-- (keypress)="OnlyNumbersAllowed($event)" -->
          </section>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button type="submit" expand="full" shape="round">
            Verify E-mail Code
          </ion-button>
        </ion-col>
      </ion-row>
    </form>

    <br>
    <br>
    <hr>
    <br>
    <br>

    <form
      #myForm2="ngForm"
      (ngSubmit)="onSubmit2(myForm2)"
      [noValidate]="true"
      class="my-form"
    >
      <ion-row>
        <ion-col size="12">
          <section class="grp-pin--inputs" #grpInputs_s21>
            <ion-input
              *ngFor="let item of [11, 12, 13, 14]"
              ngModel
              required
              [name]="'input' + item"
              [id]="'input' + item"
              placeholder="•"
              maxlength="1"
              mode="ios"
              type="password"
              inputmode="numeric"
              (keyup)="
          onKeyup2('input' + (item + 1), 'input' + (item - 1), $event)
        "
            ></ion-input>
          </section>
          <app-button-eye [input_content]="grpInputs_s21"></app-button-eye>
          <app-icon-verify [icon]="icon_verify__one"></app-icon-verify>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button
            expand="full"
            fill="outline"
            shape="round"
            type="submit"
          >
            Verify PIN Code
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
