.scanner-buttons {
  margin: 0px 12%;
  position: absolute;
  bottom: 10vh;
  width: -webkit-fill-available;
  z-index: 1;
}

.scan-box {
  border: 2px solid #fff;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  left: 50%;
  height: 300px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

ion-label {
  font-size: 18px;
  text-align: center;
  overflow-wrap: anywhere;
}

.btn-content {
  margin: 12%;
}
