<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start"> Test Scanner </ion-title>
    <ion-badge style="margin: 9px" slot="end" [color]="status" mode="ios"
      >0</ion-badge
    >
  </ion-toolbar>
</ion-header>

<!-- [style.--ion-background-color]="scanActive ? '#0000' : '#000'" -->
<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row class="btn-content">
      <ion-col size="12">
        <ion-button
          (click)="startScan()"
          expand="full"
          fill="outline"
          shape="round"
          [hidden]="scanActive"
        >
          <ion-icon slot="start" name="scan"></ion-icon>
          SCAN!!!
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-label>{{decode | json}}</ion-label>
    </ion-row>
    <div class="scan-box" [hidden]="!scanActive"></div>
    <ion-row class="scanner-buttons" [hidden]="!scanActive">
      <ion-col size="12" class="ion-no-padding">
        <ion-button (click)="stopScan()" expand="full" shape="round">
          STOP
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
